# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build cache - vs
proj.win32/Debug.win32
proj.win32/Release.win32
proj.win32/*.sdf
proj.win32/*.opensdf
proj.win32/*.suo

# build cache - ant & ndk
proj.android/assets
proj.android/bin
proj.android/obj
proj.android/.settings

# build cache - ios


# build cache - windows phone
proj.wp8-xaml/ipch
proj.wp8-xaml/Debug
proj.wp8-xaml/Release
proj.wp8-xaml/ARM
proj.wp8-xaml/App/Bin
proj.wp8-xaml/App/obj
proj.wp8-xaml/AppComponent/Debug
proj.wp8-xaml/AppComponent/Release
proj.wp8-xaml/AppComponent/ARM
proj.wp8-xaml/*.sdf
proj.wp8-xaml/*.opensdf
proj.wp8-xaml/*.suo
